doctype html
html(lang="en")
  head
    script(src="/assets/main.js")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title
  body
    .container
      h1= message